@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Parvej Alam</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<br />
<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th>SN.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Parvej</td>
            <td>parvej@gmail.com</td>
            <td>9773625172</td>
        </tr>
    </tbody>
</table>
</div>
